USE [ApplicationParam]
GO
/****** Object:  Table [dbo].[Prodex_ApplicationParameterData]    Script Date: 2022-03-02 11:51:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodex_ApplicationParameterData](
	[objectType] [nvarchar](50) NOT NULL,
	[objectId] [nvarchar](50) NOT NULL,
	[propertyId] [nvarchar](50) NOT NULL,
	[indexSpec] [nvarchar](50) NOT NULL,
	[stringValue] [nvarchar](2000) NOT NULL,
	[numValue] [float] NOT NULL,
	[note] [nvarchar](400) NULL,
	[updateLocation] [nvarchar](50) NULL,
	[updateMethod] [nvarchar](50) NULL,
	[updateReason] [nvarchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[createdUser] [nvarchar](50) NOT NULL,
	[updated] [datetime] NOT NULL,
	[updatedUser] [nvarchar](50) NOT NULL,
	[imageFile] [varbinary](max) NULL,
	[imagefileName] [nvarchar](250) NULL,
	[imagefileExtension] [nvarchar](10) NULL,
	[documentFile] [varbinary](max) NULL,
	[documentfileName] [nvarchar](250) NULL,
	[documentfileExtension] [nvarchar](10) NULL,
	[objectSwedishTitle] [nvarchar](max) NULL,
	[objectCategory] [nvarchar](50) NULL,
 CONSTRAINT [PK_Prodex_ApplicationParameterData] PRIMARY KEY CLUSTERED 
(
	[objectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
